<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ドットインストール練習</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <div id="header" >

    <h1>maruの練習場</h1>
  </div>
<hr>
<table>
  <thead>
    <tr>
      <th>
        名前
      </th>
      <th>
        好きなもの
      </th>
      <th>
        嫌いなもの
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        丸山直樹
      </td>
      <td>
        亀田の柿ピー
      </td>
      <td>
        昆虫
      </td>
    </tr>
    <tr>
      <td>
        窪田虫
      </td>
      <td>
      昆虫の足の裏
      </td>
      <td>
        昆虫の頭
      </td>
    </tr>
    <tr>
      <td colspan="3">
        昆虫ばっかだね
      </td>
    </tr>
  </tbody>
</table>
<hr>
<form  action="index.html" method="post">
  <p>
    <!--
    input
        text
        submit
        password
        hiddn
  -->
    メールアドレス:<input type="text" name="email"
    maxlength="10"placeholder="未入力">
  </p>

  <p>
    ログイン：<input type="password" name="password">

  </p>

  <p>
    <input type="submit" value="送信">
  </p>

</form>
<hr>
<script src="javascript.js"type="text/javascript">

</script>
</body>

</html>
