*{
  margin:0;
  padding:0;
  text-align: center;
}
#header{
  width: 100%;
	height: 500px;
	background: #ccc;
	position: relative;
  background-image: url(img/victorian_wallpaper.jpg);

}
#header img{
  z-index: 1;
  width: 100%;
  height:auto;
  position: absolute;
}
#header h1{
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 300px;
	height: 100px;
  color: white;

}
hr{
  border: solid 3px #42c6ff;
}

table,thead,tbody,tr,th,td{

  text-align: center;
  margin: 0 auto;
}
form{
  margin: 0 auto;
  text-align: center;
}
th{
  background-color: rgb(175, 175, 175);
}
td,th{
  border-right: solid;
  border-bottom:solid;
}
table{
  border-collapse: collapse;
  border:solid;
}
td:first-letter{
  color: rgb(242, 69, 113)
}
form:before{
  content:"これはcssからのコメントです"
}
.help{
  cursor: help;
}
.drag{
  cursor:move;
}
.click{
  cursor:pointer;
}
#table{
  display: table;
  margin:0 auto;
}
.box{
  display: table-cell;
  width:250px;
}
#cell{
  display: table-row;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
@media screen and (max-width:1000px) {
  html{
    width:1000px;
  }

}
